<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ day.day }} {{ day.name }}
        </mat-card-title>
    </mat-card-header> 
    <mat-card-content
        [routerLink]="['/routine', day.id]" routerLinkActive="router-link-active"     
        >
        <img mat-card-imae src="../../../assets/dumbbell.svg" alt="dumbbell svg">
        <mat-card-subtitle>
            {{ day.exercises.length }} exercises
        </mat-card-subtitle>
    </mat-card-content>  
    <mat-card-actions align="end">
        <button mat-button (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions> 
</mat-card>
