<app-navigation>
    <div class="day-info">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">

            <mat-form-field appearance="fill" fxFlex="20%">
                <mat-label>Days</mat-label>
                <mat-select [(ngModel)]="day.day" [disabled]="!canEdit">
                  <mat-option *ngFor="let day of freeDays" [value]="day">
                    {{ day }}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
    
            <mat-form-field appearance="fill" fxFlex="70%">
                <mat-label>Name</mat-label>
                <input required minlength="1" matInput [(ngModel)]="day.name" [disabled]="!canEdit">
            </mat-form-field> 

        </div>
        <div fxLayout="row">
            <span fxFlex></span>
            <button 
                mat-raised-button color="primary"
                (click)="editDay()"
                [disabled]="canEdit"
                >
                Edit
            </button>
            <button 
                mat-raised-button color="primary"
                (click)="saveDay()"
                [disabled]="!canEdit"
                >
                Save
            </button>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px grid" class="exercise-view">
        <div *ngFor="let exercise of exercises" >
            <app-exercise-card
                [exercise]="exercise"
            ></app-exercise-card>
        </div>
        <button (click)="addExercise()">Add</button>
    </div>
</app-navigation>
