<div fxLayout="row" fxLayoutAlign="start" class="add-set">
    <mat-button-toggle-group 
        name="fontStyle" 
        aria-label="Font Style"
        value="rep"
        >
        <mat-button-toggle 
            (change)="onToggleChange($event.value)"
            value="rep">
            Reps
        </mat-button-toggle>
        <mat-button-toggle 
            (change)="onToggleChange($event.value)"
            value="duration">
            Duration
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field appearance="fill" *ngIf="!isDuration">
        <mat-label>Reps</mat-label>
        <input type="number" required minlength="1" matInput [(ngModel)]="set.reps">
    </mat-form-field> 
    <mat-form-field appearance="fill" *ngIf="!isDuration">
        <mat-label>Weight</mat-label>
        <input type="number" required minlength="1" matInput [(ngModel)]="set.weight">
    </mat-form-field> 
    <mat-form-field appearance="fill" *ngIf="isDuration">
        <mat-label>Duration</mat-label>
        <input type="number" required minlength="1" matInput [(ngModel)]="set.duration">
    </mat-form-field> 
    <div fxLayoutAlign="center center">
        <button mat-mini-fab color="accent" (click)="sendSet()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
