<mat-card fxLayout="column">
    <mat-card-title-group>
        <mat-card-title>
            Set {{ index + 1 }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="set.reps">
            Set {{ index + 1 }} Reps: {{ set.reps }} Weight: {{ set.weight }}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="set.duration">
            {{ index }} Reps: {{ set.reps }} Weight: {{ set.weight }} Duration: {{ set.duration }}
        </mat-card-subtitle>
    </mat-card-title-group> 
    <mat-card-actions align="start" *ngIf="erasable">
        <button mat-button (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
        <div fxFlex></div>
        <button mat-button>
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
