<h1 mat-dialog-title>New exercise</h1>
<div mat-dialog-content fxLayout="row" fxLayoutGap="10px grid" >
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Exercise</mat-label>
            <mat-select [(ngModel)]="exercise">
                <mat-option *ngFor="let exercise of exercises" [value]="exercise.name">
                {{ exercise.name }}
                </mat-option>
            </mat-select>
        </mat-form-field> 
        <div *ngFor="let set of sets">

        </div> 
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <span fxFlex></span>
    <button mat-button color="Principal" dkFocusInitial [mat-dialog-close]="data">Add</button>
</div>
