<app-navigation>
    <div fxLayout="row wrap" fxLayoutGap="10px grid" class="card-display">
        <div fxFlex="20%" fxFlex.xs="80%" fxFlex.sm="50%" *ngFor="let day of sortedDays()">
            <app-day-card 
                [day]="day"
                (event)="deleteDay($event)"
                >
            </app-day-card>
        </div>
        <div *ngIf="days.length < 7" fxFlex="20%" fxFlex.xs="80%" fxFlex.sm="50%" fxLayoutAlign="center center">
            <app-add-card (click)="addDay()"></app-add-card>
        </div>
    </div>
</app-navigation>



