<mat-toolbar color="primary">
    My Workout Routine
</mat-toolbar>

<div fxLayout="row">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
        <div *ngFor="let day of days">
            <app-day [day]="day"></app-day>
        </div>
        <button class="add-button" 
                mat-flat-button color="primary" 
                *ngIf="days.length < 7"
                (click)="addDay()">
            Add Day
        </button>
    </div>
    <div class="exercise-list" 
         fxFlex="75%" 
         fxFlex.sm="50%">
        <div *ngFor="let n of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
            <mat-card></mat-card>
        </div>
    </div>
</div>

