<app-navigation>
    <div fxLayout="row wrap" fxLayoutGap="10px grid" class="card-display">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let day of sortedDays()">
            <app-day-card [routerLink]="['/routine', day.id]" routerLinkActive="router-link-active" 
                [day]="day"
                (event)="loadExercises($event)"
                >
            </app-day-card>
        </div>
        <div *ngIf="days.length < 7" fxLayoutAlign="center center" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
            <button mat-mini-fab color="accent" (click)="addDay()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</app-navigation>



